* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-focus: none;
    user-select: none;
    color: #ffffff;
}

html, body {
    width: 100%;
    height: 100%;
    background: rgb(70, 53, 158);
    background: linear-gradient(152deg, rgba(70, 53, 158, 1) 0%, rgba(0, 177, 255, 1) 100%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

#gameField {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
}

.front {
    width: 100%;
    display: none;
}

header {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}


#newgame {
    width: 100px;
}

#board {
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
}

#win {
    height: 600px;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
    background: rgba(0, 0, 0, .16);
    position: absolute;
    font-size: 300px;
    justify-content: center;
    align-items: center;
}

#gameField.winner #win {
    display: flex;
    flex-direction: column;
    animation: winner 0.75s;
}

#gameField.winner.bronze #win i {
    color: #cd7f32;
}

#gameField.winner.silver #win i {
    color: silver;
}

#gameField.winner.gold #win i {
    color: gold;
}

.card {
    height: calc(100vw / 4 - 30px);
    width: calc(100vw / 4 - 30px);
    margin: 15px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, .41);
}

.card i.icon {
    font-size: 7em;
    display: none;
}

.card i.question {
    color: rgba(255, 255, 255, 0.05);
    transition: color 0.3s ease-in-out;
    font-size: 80px;
}

.card:hover i.question {
    color: rgba(255, 255, 255, 0.2);
}

.card.current i.icon,
.card.solved i.icon {
    display: inline;
}

.card.current i.question,
.card.solved i.question {
    display: none;
}

.card.solved i.icon {
    animation: sizeIcon 0.75s;
}

.card.current {
    background: rgba(57, 70, 229, .68);
}

.card.solved,
.card.current.solved {
    cursor: default;
    background: rgba(14, 255, 22, 0.65);
}

@keyframes sizeIcon {
    0% {
        font-size: 7em
    }
    50% {
        font-size: 9em
    }
    100% {
        font-size: 7em
    }
}

@keyframes winner {
    0% {
        font-size: 0
    }
    50% {
        font-size: 400px
    }
    100% {
        font-size: 300px
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.stars-container {
    font-size: 5rem;
    margin-top: 10px;
}
