*{
	color:#959596;
	float:left;
}
html, body, header, #gameField, footer, .back, .front{
	 width:100%;
}
html, body{
	 height:100%;
}
header, footer, select{
	 background:#2a2a2a;
}
html, body, select{
	 margin:0;
}
#win, .front, .card.current .back{
	 display:none;
}
footer, select, #newgame{
	 font-size:13px;
}
#newgame:hover,select:hover, a{color: #fff}
#newgame, #win, footer{
	 text-align:center;
}
#gameField{
	 height:calc(100vh - 60px);
}
#board.x16{
	 width:440px;
}
#board.x24, #board.x30{
	 width:660px;
}
.card.hidden{
	 visibility:hidden;
}
.card.shown{
	 visibility:visible;
}
.back{
	 background:url('../photos/front.png');
}
.card.current .front{
	 display:block;
}
#newgame, select, .back, .front{
	height:inherit;
	line-height:inherit;
}
header, footer{
	height:30px;
	line-height:30px;
}
#board, #win{
	margin:0 auto;
}
#newgame, .card{
	cursor:pointer;
	width:100px;
}
a, #board, #win{
	float:none;
}
html, body{
	padding:0px;
	overflow-x:hidden;
	background:#dcdcdc;
	font-family:sans-serif;
}
select{
	border:none;
	-webkit-appearance:none;
	outline:none;
}
#win{
	height:200px;
	line-height:200px;
	font-size:5em;
}
.card{
	height:100px;
	margin:5px;
}
